* {
    box-sizing: border-box;
}

body {
    background-color: #171717;
}


.header {
    max-width: 1460px;
    margin: 0 auto;
}

.top-navigation {
    margin: 46px 0 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-call {
    width: 220px;
    height: 50px;
    border: 1px solid #E4B564;
    background: transparent;
}

.call-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E4B564;
    text-decoration: none;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.button-image {
    padding-right: 8px;
    width: 22px;
}

.heat-networks {
    max-width: 1460px;
    margin: 0 auto;
}

h2 {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.company-info {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 42px;
    max-width: 1182px;
}

.grid-1 {
    margin: 42px 0 160px;
    display: grid;
    grid-template-columns: 468px repeat(2,219px) 468px;
    grid-template-rows: repeat(2, 468px);
    grid-gap: 30px;
}

.item {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-1 {
    background-color: #634F2C;
}

.item-2 {
    padding: 0 42px;
    grid-column: 2/4;
    background-color: #B4A385;
}

.item-3 {
    grid-column: 4/5;
    background-color: #E4B564;
}

.item-4 {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #635A4A;
}

.item-5 {
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: #B08C4D;
}

.own-park {
    max-width: 1460px;
    margin: 0 auto;
}

.grid-2 {
    margin-top: 94px;
    padding-bottom: 190px;
    display: grid;
    grid-template-columns: repeat(3, 468px);
    grid-template-rows: 254px 32px 100px 128px 244px 8px;
    grid-gap: 26px 30px;
}

.item-1-2 {
    padding: 0 52px;
    grid-row: 1/3;
    background-color: #0E0E0E;
}

.item-2-2 {
    padding: 0 52px;
    grid-row: 1/4;
    background-color: #242424;
}

.item-3-2 {
    background-color: #1F1F1F;
}

.item-4-2 {
    grid-row: 3/7;
    background-color: #1F1F1F;
}

.item-5-2 {
    color: #000000;
    grid-column: 2/3;
    grid-row: 4/6;
    background-color: #E4B564;
}

.item-6-2 {
    grid-row: 2/5;
    background-color: #0E0E0E;
}

.item-7-2 {
    grid-row: 5/7;
    background-color: #0A0909;
}


.our-clients {
    background-color: #0E0E0E;
}

.clients-content {
    max-width: 1460px;
    margin: 0 auto;
}

.bottom-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 172px;
}

.button-projects {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    background: transparent;
}

.all-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E4B564;
    text-decoration: none;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.grid-3 {
    display: grid;
    margin-top: 72px;
    grid-template-columns: repeat(3, 486px);
    grid-template-rows: repeat(2, 392px);
}

.item-1-3 {
    background-color: #634F2C;
}

.item-2-3 {
    background: rgba(232, 210, 171, 0.76);
}

.item-3-3 {
    background-color: #E4B564;
}

.item-4-3 {
    background-color: #635A4A;
}

.item-5-3 {
    background-color: #B08C4D;
}

.item-6-3 {
    background-color: #634F2C;
}

.logo-mavis {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.footer {
    height: 238px;
}


